node_modules/
wp-config.php

wp-content/themes/wemesh/node_modules/
!wp-content/
# ignore these plugins
wp-content/plugins/hello.php

wp-content/uploads/
wp-content/themes/wemesh/node_modules/
wp-content/themes/wemesh/.git/
wp-content/themes/wemesh/src/
!wp-content/themes/wemesh/dist/
# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
.DS_Store
