 .editor-styles-wrapper {
   font-family: PingFang SC,
     Lantinghei SC,
     Microsoft Yahei,
     Hiragino Sans GB,
     Microsoft Sans Serif,
     WenQuanYi Micro Hei,
     sans-serif !important;
 }

 /* Main column width */
 .wp-block {
   max-width: 870px !important;
 }

 /* Width of "wide" blocks */
 .wp-block[data-align="wide"] {
   max-width: 870px;
 }

 /* Width of "full-wide" blocks */
 .wp-block[data-align="full"] {
   max-width: none;
 }

 .editor-styles-wrapper p {
     font-size: 1rem !important;
     line-height: 2 !important;
     text-indent: 2rem !important;
 }

 .ni {
   text-indent: none !important;
 }